.task {
  border-top: 1px solid black;
  padding: 10px;
  min-height: 100px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.delete {
  cursor: pointer;
}

.date {
  /* display: flex;
  justify-content: flex-end; */
  /* margin-top: 10px; */
}


.name {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}
