
.select {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}

.select:hover {
  background-color: #274C77;
  margin-top: 3px;
  margin-bottom: 3px;

}

.select:active {
  background-color: #8B8C89;
}

