.select {
  display: flex;
  padding: 4px;
}

.select:hover {
  background-color: #274C77;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.select:active {
  background-color: #8B8C89;
  cursor: pointer;
}

