.addTask {
  position: absolute;
  top: 7px;
  right: 12px;
  cursor: pointer;
}
.categoryList {
  background-color: #E7ECEF;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; */
  height: 50%;
}

.categoryList h3 {
  position: relative;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

.scrollList {
  /* min-height: 315px; */
  overflow-y: scroll;
  max-height: 350px;
}
/* width */
.scrollList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollList::-webkit-scrollbar-thumb {
  background: #888;

}

/* Handle on hover */
.scrollList::-webkit-scrollbar-thumb:hover {
  background: #555;
}