.parent {
display: grid;
grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
grid-template-rows: 1fr 7fr 0.5fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 2 / 3 / 3; }
.div2 { grid-area: 2 / 3 / 3 / 4; }
.div3 { grid-area: 2 / 4 / 3 / 5; }
.div4 { grid-area: 1 / 2 / 3 / 5; }